.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg.png) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #fff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        max-width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: #fff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1000px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    
}

@media (max-width: 660px) {
    .promo {
        &__header {
            font-size: 32px;
            text-align: center;
        }
        &__subheader {
            font-size: 24px;
            text-align: center;
        }
    }
}

@media (max-width: 460px) {
    .promo {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 15px;
        }
    }
}